:root {
    font-size: 1.2em;
}
* {
    box-sizing: border-box;
}
body {
    background-color: rgb(255, 255, 255);
}

/********** ************ **********/
/********** Landing Page **********/
/********** ************ **********/

#opening-display{
    position: absolute;
    z-index: 3;
    background-color: aquamarine;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    text-align: center;
    border: none;
}
#opening-display div{
    margin: 5%;
}
#opening-display div h1 {
    font-size: 3em;
    margin-bottom: 2%;
}
#opening-display div h5 {
    margin-bottom: 5px;
}
#opening-display div p {
    font-size: 0.8em;
    margin-top: 0;
    padding: 0 38%;
}
#opening-cat-img{
    width: 300px;
    height: 300px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 25px;
}
#start-button {
    width: 18em;
    height: 5em;
    font-size: 1em;
    margin: 1% auto 0;
    border-radius: 25px;
}

/********** ************ **********/
/******** Player One Page *********/
/********** ************ **********/
#player-one-container {
    border: 3px solid black;
    border-radius: 25px;
    padding: 10px;
}
#player-one-display {
    background-color: aquamarine;
    position: absolute;
    z-index: 2;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    text-align: center;
}
#player-one-display div p {
    margin: 10px 0;
}
#player-one-display div h1 {
    margin: 10px;
}

#player-one-display-img {
    width: 300px;
    height: 300px;
    margin-top: 10%;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 25px;
}
#player-one-input {
    font-size: 1.5em;
    padding: 1%;
    margin: 10px 0;
    text-align: center;
}
#player-one-btn {
    font-size: 1.5em;
    padding: 1% 5%;
    border-radius: 25px;
    
}

/********** ************ **********/
/******** Player Two Page *********/
/********** ************ **********/

#player-two-display {
    background-color: aquamarine;
    position: absolute;
    z-index: 1;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    text-align: center;
}
#player-two-display div p {
    margin: 10px 0;
}
#player-two-display div h1 {
    margin: 10px;
}
#player-two-display-img {
    width: 300px;
    height: 300px;
    margin-top: 10%;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 25px;
}
#player-two-input {
    font-size: 1.5em;
    padding: 1%;
    margin: 10px 0;
    text-align: center;
}
#player-two-btn {
    font-size: 1.5em;
    padding: 1% 5%;
    border-radius: 25px;
}
#player-two-btn:hover {
    /*  Finish */
}
/********** ************ **********/
/******** End Game Popup **********/
/********** ************ **********/

#end-game-screen {
    display: none;
}
#end-game-container {
    background-color: rgb(240, 95, 95);
    position: fixed;
    top: 30%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    margin: 0 auto 0;
    width: 400px;
    height: 400px;
    text-align: center;
    font-size: 1.5em;
    border: 2px solid red;
    border-radius: 15px;
    padding: 1% 3% 3% 3%;
} 
#end-game-img {
    width: 50%;
    margin: 5% 0 3px 0;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 25px;
}
#end-game-txt {
    margin: 0 auto 1%;
}
#end-game-header {
    margin: 0;
}
#end-game-button {
    margin-top: 5%;
    width: 50%;
    height: 10%;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    transition: 0.3s;
}
#end-game-button:hover {
    background-color: rgb(255, 244, 120);
}

#end-game-close {
    position: relative;
    text-align: right;
    margin: -5px -20px 0 0;
    cursor: pointer;
}

/********** ************ **********/
/**********   Game Body  **********/
/********** ************ **********/

header {
    text-align: center;
}
header h1 {
    margin: 3% 0 0.5%
}
header h3 {
    margin-top: 0;
}
#container {
    display: none;
    z-index: 1;
    position: absolute;
}
#player-stats {
    display: flex;
    justify-content: center;
    gap: 80px;
}
#cat-ref {
    width: 200px;
    height: auto;
}

/******* Player One Scoreboard *******/

#player-one-container {
    display: inline-block;
    margin-left: 10%;
    width: 10%;  
}
#player-one-container div {
    padding: 8px 10%;
}

#player-one-name {
    margin: 10px 0 0 10px;
}
#player-one-score{
    margin: 1.5% 1.5% 1.5% 10px;
}
#player-one-avatar {
    border: 2px solid black;
    border-radius: 25px;
    padding: 10%;
    
}

/******* Player Two Scoreboard *******/

#player-two-score {
    margin-top: 1.5%;
}
#player-two-name {
    margin: 10px 0 0 0;
}
#player-two-container {
    display: inline-block;
    margin-right: 10%; 
}
#player-two-container div {
     padding: 8px;
}

#player-two-avatar {
    border: 2px solid black;
    border-radius: 25px;
}


#game-flow {
    text-align: center;
    margin: 1%;
}
#game-container {
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 0 auto;
}
#game-container{
    border: 3px solid black;
}
.grid-box {
    width: 198px;
    height: 198px;
    border: 1px solid black;
}

.grid-box img{
    width: 180px;
    height: 180px
}

@media (max-width: 720px){
    /* To Do */
}