:root {
    font-size: 1.2em;
}
* {
    box-sizing: border-box;
}
*:focus {
    outline: none;
}
body {
    font-family: 'Indie Flower', cursive;
    color: rgb(255, 255, 255);
    background-color: rgb(107 30 115);
}
main {
      background-image: url('./images/5558636.jpg');
      background-size:cover;
}

/********** ************ **********/
/********** Landing Page **********/
/********** ************ **********/

#opening-display{
    position: absolute;
    z-index: 3;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    text-align: center;
    border: none;
    background-image: url('./images/5558636.jpg');
    background-size:cover;
}
#opening-display div{
    margin: 0 0 5%;
}
#opening-display div h1 {
    font-size: 4.5em;
    font-family: 'Permanent Marker',
    cursive;
    margin: 0;

}
#opening-display div h3 {

    margin: 0 0 1%;
    font-size: 2.5em;
    font-family: 'Permanent Marker',
    cursive;
}
#opening-display div h5 {
    margin: 1% 0 5px;
    font-size: 2em;
}
#opening-display div p {
    font-size: 1em;
    margin: 0 0 5px;
    padding: 0 35%;
}
#opening-cat-img{
    width: 280px;
    height: 280px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 25px;
    background-image: url('./images/5558636.jpg');
    background-size:cover;
    background-position: center;
}
#start-button {
    width: 18em;
    height: 5em;
    font-size: 1.2em;
    margin: 1% auto 1%;
    border-radius: 25px;
    background-color: rgb(255, 149, 0);
    ;
    font-family: 'Patrick Hand', cursive;
    transition: .3s;
}
#start-button:hover {
    background-color: rgb(253 191 39);
    cursor: pointer;
}

/********** ************ **********/
/******** Player One Page *********/
/********** ************ **********/

#player-one-display {
    position: absolute;
    z-index: 2;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    text-align: center;
    background-image: url('./images/5558636.jpg');
    background-size:cover;
    display: none;
}
#player-one-display div p {
    margin: 10px 0;
    font-size: 1.3em;
}
#player-one-display div h1 {
    margin: 10px;
}

#player-one-display-img {
    width: 300px;
    height: 300px;
    margin-top: 10%;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 25px;
    background-color: rgb(255, 255, 255);

}
#player-one-input {
    font-size: 1.5em;
    padding: 1%;
    margin: 10px 0;
    text-align: center;
    font-family: 'Indie Flower',
    cursive;
    border-radius: 25px;
}
#player-one-btn {
    font-size: 1.5em;
    padding: 1% 5%;
    border-radius: 25px;
    font-family: 'Patrick Hand',
    cursive;   
    background-color: rgb(255, 149, 0);
    transition: .3s;
}
#player-one-btn:hover {
    background-color: rgb(253 191 39);
    cursor: pointer;
}

/********** ************ **********/
/******** Player Two Page *********/
/********** ************ **********/

#player-two-display {
    position: absolute;
    z-index: 1;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    text-align: center;
    background-image: url('./images/5558636.jpg');
    background-size:cover;
    display: none;
}
#player-two-display div p {
    margin: 10px 0;
    font-size: 1.3em;
}
#player-two-display div h1 {
    margin: 10px;
}
#player-two-display-img {
    width: 300px;
    height: 300px;
    margin-top: 10%;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
}
#player-two-input {
    font-size: 1.5em;
    padding: 1%;
    margin: 10px 0;
    text-align: center;
    font-family: 'Indie Flower',
    cursive;
    border-radius: 25px;
}
#player-two-btn {
    font-size: 1.5em;
    padding: 1% 5%;
    border-radius: 25px;
    font-family: 'Patrick Hand',
    cursive;
    background-color: rgb(255, 149, 0);
    transition: .3s;
}
#player-two-btn:hover {
    background-color: rgb(253 191 39);
    cursor: pointer;
}
/********** ************ **********/
/******** End Game Popup **********/
/********** ************ **********/

#end-game-screen {
    display: none;
}
#end-game-container {
    background-color: rgb(253 191 39);
    position: fixed;
    top: 30%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    margin: 0 auto 0;
    width: 400px;
    height: 400px;
    text-align: center;
    font-size: 1.5em;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 15px;
    padding: 1% 3% 3% 3%;
    transition: .3s;
} 
#end-game-img {
    width: 50%;
    margin: 0 0 3px 0;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 25px;
    background-color: white;
}

#end-game-header {
    margin: 0;
    font-size: 1.5em;
}
#end-game-button {
    margin: 5% 0;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    transition: 0.3s;
    font-family: 'Patrick Hand',
    cursive;
    font-size: 1em;
    padding: 10px 15px;
}
#end-game-button:hover {
    background-color: rgb(255, 149, 0);
    cursor: pointer;
}

#end-game-close {
    position: relative;
    text-align: right;
    margin: -5px -20px 0 0;
    cursor: pointer;
}

/********** ************ **********/
/**********   Game Body  **********/
/********** ************ **********/
main {
        
}
header {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 1.8em;
}
header h1 {
    margin: 1% 0 0;
}
header h3 {
    margin: 0 auto 10px;
}
#container {
    display: none;
    z-index: 1;
    position: absolute;
}
#player-stats {
    display: flex;
    justify-content: center;
    gap: 80px;
}
#cat-ref {
    width: 120px;
    height: auto;
}

.cat-post {
    margin: 0 auto;
    width: 150px;
    height: auto;
}

.scorebox {
    border: 2px solid black;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.7);
    color: rgb(0, 0, 0);
}
#game-flow {
    text-align: center;
    width: 500px;
    font-size: 1.3em;
    margin: 0 auto 10px;
    border: 1px solid black;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    padding: 5px 0;
}

/******* Player One Scoreboard *******/


#player-one-container {
    width: 190px;  
    font-family: 'Patrick Hand', cursive;
    position: absolute;
    left: 14%;
    z-index: 1;
}
#player-one-container div {
    padding: 8px 10%;
}

#player-one-name {
    margin: 0 0 0 10px;
}
#player-one-score{
    margin: 1.5% 1.5% 1.5% 10px;
}
#player-one-avatar {
    position: absolute;
    z-index: 3;
    top: -60px;
    left: 15px;
    padding: 10%;
    width: 150px;
    height: auto;  
}

/******* Player Two Scoreboard *******/

#player-two-container {
    width: 190px;
    font-family: 'Patrick Hand', cursive;
    position: absolute;
    right: 14%;
    z-index: 1;
}

#player-two-container div {
    padding: 8px 10%;
}

#player-two-name {
    margin: 0 0 0 10px;
}

#player-two-score {
    margin: 1.5% 1.5% 1.5% 10px;
}

#player-two-avatar {
    position: absolute;
    z-index: 3;
    top: -60px;
    left: 15px;
    padding: 10%;
    width: 150px;
}

/******* Game Container *******/

#game-container {
    position: static;
    left: 35%;
    top: 60%;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 0 auto;
    background:rgba(255, 255, 255, 0.3);
}
#game-container{
    border: 3px solid black;
}
.grid-box {
    width: auto;
    height: auto;
    border: 1px solid black;
}

.grid-box img{
    width: 150px;
    height: 150px;
    opacity: 1;
}
@media (max-width: 1200px) {
    #player-stats{
        width: 100%;
        display: inline-flex;
        justify-content: space-evenly;
        align-items: flex-end;
        gap: 30px;
    }
    header h3 {
        margin-bottom: 5%;
    }
    #cat-ref {
        width: 80px;
        height: 80px;
        margin: 5px;
    }
    #player-one-container{
        position: relative;
        
    }
    #player-two-container {
        position: relative;
    }
    /* To Do */
}

@media (max-width: 800px){
    /* To Do */
}